.carousel {
    /* width: 1088px!important; */
    margin: auto;
}

.carousel-item {
    height: 809.88px;
    overflow: hidden;
}

.slider-item {
    /* padding: 62px 82px 82px 62px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev{
    color: #000000!important;
}

.carousel-control-next{
    color: #000000!important;
}
