.slide_3_over {
    display: block;
}
.slide_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10%;
}
.slide_3_title{
    margin-bottom: 20px;
}
.quote {
    line-height: 27px;
    font-size: 22px;
    min-width: 500px;
    max-width: 500px;
    align-self: flex-end;
}
.GogoSpan {
    font-family: 'MuseoSansCyrl-900';
    color: #004E89;
}
.quote {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 130%; */
    margin: 0;
}
.quote_1 {
    background-image: url("../../../images/Rectangle\ 150.png");
    padding: 5.25px 42.25px 25.13px 63.75px;
    margin-right: -42.25px;
}
.quote_2 {
    background-image: url("../../../images/Rectangle 149.png");
    padding: 42px 14.75px 23.25px 46.4px;
}
.bigdata {
    flex-grow: 0;
    width: fit-content;
    align-self: flex-start;
}
/* .qoute_1 {
    position: relative;
    width: 471px;
    height: 108px;
    left: 511.7px;
    top: 89.53px;
}
.bigdata{
    position: relative;
    width: 547.97px;
    height: 266.33px;
    left: 74.23px;
    top: 192.67px;
}
.quote_2 {
    position: relative;
    width: 513px;
    height: 81px;
    left: 490.17px;
    top: 476.57px;
}
.textBlock_1 {
    position: relative;
    width: 550.8px;
    height: 131.75px;
    left: 463.53px;
    top: 85.57px;
}
.textBlock_2 {
    position: relative;
    width: 559.3px;
    height: 130.9px;
    left: 455.03px;
    top: 444.83px;
} */

@media (max-width: 1200px) {
    .quote {
        font-size: 16px;
        line-height: 19.5px;
    }
}

@media (max-width: 767px) {
    .slide_3 {
        padding: 0;
    }
    .quote {
        margin-right: 0;
        min-width: 400px;
        max-width: 400px;
    }
    .quote_1 {
        background-image: url("../../../images/Rectangle 151.png");
        padding: 2.625px 21.125px 12.565px 31.875px;
        align-self: flex-start;
    }
    .bigdata {
        max-width: 100%;
        align-self: center;
    }
    .quote_2 {
        padding: 21px 7.375px 11.625px 23.2px;
    }
}

@media (max-width: 600px) {
    .quote {
        font-size: 10px;
        line-height: 12px;
        min-width: 250px;
        max-width: 250px;
    }
}