header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.logo-img {
    margin-right: 100px;
}
.inactive {
    color: #0D6EFD!important;
}
.navbar-header {
    display: flex;
    justify-content: center;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    text-align: center;
}

@media (max-width: 900px) {
    .logo-img {
        display: none!important;
    }
}