.idPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 764px;
    height: 100%;
    margin-top: 100px;
}
.gotId h2 {
    font-size: 41.6779px;
    line-height: 63px;
}
.idPage p {
    font-size: 32.4161px;
    line-height: 56px;
}
.goToMain {
    margin-top: 50px;
}
.goToMain button{
    margin-bottom: 20px;
}
.goToMain button:nth-child(3){
    display: none!important;
}

@media (max-width:1024px){
    .gotId h2 {
        font-size: 29.77px;
        line-height: 45px;
    }
    .idPage p {
        font-size: 23.15;
        line-height: 40px;
    } 
}

@media (max-width:768px){
    .idPage{
        width: auto;
        padding: 0 10px;
    }
    .goToMain{
        margin-top: 30px;
    }
    .gotId h2 {
        font-size: 22.22px;
        line-height: 33.6px;
    }
    .idPage p {
        font-size: 17.28px;
        line-height: 29.86px;
    }
}

@media (max-width:576px){
    .goToMain{
        margin-top: 10px;
    }
    .goToMain .btn:nth-child(2){
        display: none;
    }
    .goToMain .btn:nth-child(3){
        display: inline-block!important;
    }
    .gotId h2 {
        font-size: 16.67px;
        line-height: 25.2px;
    }
    .idPage p {
        font-size: 12.96px;
        line-height: 22.4px;
    }
}