.slide_1{
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.slider__content {
    height: 100%;
}

.slider__content > img{
    position: absolute;
    bottom: 0;
    left: 52px;
}

.slide_1 .caption {
    margin-bottom: 57px;
    width: 100%;
    justify-self: flex-start;
}

.slider__content{
    max-height: 530px;
    height: 100%;
    padding: 0 52.5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slider__item{
    padding: 10px 0 0 0;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.slider__icons{
    position: relative;
}

.slider__item img:last-child{
    min-width: 92.24px;
    position: absolute;
    top: 46%;
    left: 90px;
}

.highlight__icon:first-child img:last-child{
    left: 100px!important;
}

.highlight__icon{
    padding: 5px 0 0 0;
}

.highlight__icon p{
    padding: 5px 0 0 0!important;
}

.highlight__icon img:first-child{
    max-width: 92.24px!important;
    position: static!important;
}

.slider__item img:first-child{
    max-width: 80.24px;
}

.slider__item p{
    padding: 10px;
    white-space: pre-wrap;
    text-align: center;
    font-family: 'MuseoSansCyrl-500';
    font-style: normal;
    font-weight: 400;
    font-size: 18.7471px;
    line-height: 22px;

    color: #000000;
}

.slider__item span{
    font-family: 'MuseoSansCyrl-900';
}

.slider__row_1{
    display: flex;
    justify-content: space-between;
}

.slider__row_1{
    position: relative;
}

.slider__row_2{
    padding-right: 5px;
    width: 435px;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
}

.rotate-1 img:last-child{
    left: -10%;
    top: 228px;
    transform: rotate(90deg);
}

.rotate-2 img:last-child{
    left: 103px;
    transform: rotate(180deg);
}
.lastIcon {
    position: static!important;
}

@media (max-width: 1200px) {
    .slider__item p {
        font-size: 14.37355px;
        line-height: 17.0px;
    }
}

@media (max-width: 600px) {
    .slider__item p {
        font-size: 10px;
        line-height: 12px;
    }
}