.equipment__block{
    padding: 62px 0 43.5px;
}

.equipment__header{
    margin: 0 0 18px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.equipment__subtitle{
    padding-right: -20px;
    margin: 0 0 0 17px;

    align-self: flex-end;

    font-family: 'MuseoSansCyrl-500';
    font-style: normal;
    font-weight: 400;
    font-size: 37.5px;
    line-height: 45px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: justify;

    color: #004E89;
}

.equipment__content{
    /* padding-right: 100.5px; */
    display: flex;
    flex-direction: column;
}
/* 
.equipment__row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
} */

.equipment_images {
    display: flex;
    flex-wrap: nowrap;
    min-width: 240px;
}

.equipment__column_3, .equipment__column_2, .equipment__column_1 {
    display: flex;
    justify-content: center;
}

.equipment__row:last-child{
    flex-wrap: nowrap;
}

.equipment__table{
    /* align-self: flex-start; */
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    padding-left: 0!important;
    padding-right: 0!important;
}

.equipment__table .col-md-auto {
    width: fit-content;
}

.equipment__column img {
    max-width:100%;
    max-height:100%;
}

.equipment__column-row__title{
    margin: 0 0 -4px 0;
    padding: 11px 23px;
    /* max-width: 229.5px; */

    background: #004E89;
    box-shadow: 0px 2.26614px 2.26614px rgba(0, 0, 0, 0.25);
    border-radius: 14.1634px;

    font-family: 'MuseoSansCyrl-500';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.equipment__column-row{
    /* margin: 31.5px 0 0 0; */

    /* display: flex;
    flex-direction: column;
    align-items: center; */

    /* min-width: 229.5px; */

    background: #FFFFFF;
    box-shadow: 0px 0px 7.5px 3px rgba(0, 0, 0, 0.25);
    border-radius: 12.3426px;
    margin-top: 30px!important;
}

.equipment__column-row_1{
    display: flex;
    justify-content: center; 
}

.equipment__column-row_1 p{
    /* margin: -2px 0 -2px; */
}

.equipment__column-row_1 div{
    /* margin: 0 0 10px; */
}

.equipmentTitle{
    /* padding: 12px 30px 0; */

    font-family: 'MuseoSansCyrl-500';
    font-style: normal;
    font-weight: 400;
    font-size: 22.5px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #004E89;
}

.textWrapper p{
    padding-top: 6px;

    font-family: 'MuseoSansCyrl-300';
    font-style: normal;
    font-weight: 400;
    font-size: 18.75px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

.equipment__column-1, .equipment__column-2{
    display: flex;
    justify-content: space-between;
}

.equipment__column-2{
    display: flex;
}

.equipment__column-2 .equipment__column-row:first-child{
    /* margin-right: 50px; */
}

.equipment__column_2{
    position: relative;
}

.equipment__column-arrow-1{
    position: absolute;
    left: 162px;
    top: 3px;
}

.equipment__column_3{
    position: relative;
}

.equipment__column-arrow-2{
    position: absolute;
    left: 186px;
    top: 40px;
}

@media (max-width: 600px) {
    .equipment__subtitle {
        font-size: 9.3772px;
        line-height: 11px;
    }
    .equipmentTitle {
        font-size: 10px;
        line-height: 12px;
    }
    .textWrapper p {
        font-size: 10px;
        line-height: 12px;
    }
}