body{
    background-color: #FFFFFF!important;   
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    background-color: #fff;
}

.caption{
    font-family: 'MuseoSansCyrl-900';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    /* display: flex;
    align-items: center;
    text-align: justify; */

    color: #000000;
}

.container__block{
    max-width: 1245px!important;
}

@media (max-width: 1200px) {
    .caption {
        font-size: 37.5px;
    }
}

@media (max-width: 600px) {
    .caption {
        font-size: 15px;
        line-height: 18px;
    }
}