body{
    background-color: #FFFFFF!important;
}

.block {
    background-color: #fff;
}

.caption{
    font-family: 'MuseoSansCyrl-900';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}

.container__block{
    margin: 0 97.5px;
}